# Porta interna do app
PORT=3030

# Backend -> ESP (fallback HTTP)
ESP_URL=http://192.168.15.14
API_TOKEN=123456
ESP_DEVICE_ID=esp001

# MQTT do painel
MQTT_HOST=mqtt.seulimacasafacil.com.br
MQTT_PORT=1883
MQTT_USER=paineluser
MQTT_PASS=Painel@2025!
MQTT_CLIENT_ID_PREFIX=tSecaPainel
MQTT_BASE_TOPIC=tSeca

# Segurança e CORS
ALLOWED_ORIGINS=https://tseca.seulimacasafacil.com.br
LOG_LEVEL=info


